@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Poppins", sans-serif;
}

/* html {
  background-image: url("images/oval.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
} */

#settings:hover {
  cursor: pointer;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("images/ovalBG.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10rem;
  background-size: cover;
}

h1 {
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: -0.25rem;
}

h3 {
  font-weight: 400;
  font-size: 1.375rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.title {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#options {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#options > div {
  text-align: center;
}

.button {
  height: 8.75rem;
  width: 9.5rem;
  background-image: url("images/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-image: url("images/Ellipse-filled.svg");
  transition: 0.3s;
}

a {
  text-decoration: none;
}

#game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.screen {
  height: 80vh;
  width: 60vw;
}

#game > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#game > div > h3 {
  margin-bottom: 1.25rem;
}

#round-choice,
#timer-choice {
  background-image: url("images/card-outline.svg");
  background-size: 270px;
  height: 22.125rem;
  width: 17rem;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userChoice img {
  margin: 1rem;
  margin-bottom: 2rem;
}

.userChoice span:hover img {
  filter: invert(1);
}

footer {
  margin-top: -6rem;
  display: flex;
  justify-content: space-between;
  width: 80vw;
}



#backBtn {
  opacity: 0%;
  background-image: url("images/Ellipse-black.svg");
  pointer-events: none;
}

#backBtn:hover {
  background-image: url("images/Ellipse-black-filled.svg");
  color: white;
  transition: 0.3s;
}

#playGame {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#playGame > div {
  display: flex;
  width: 60vw;
  justify-content: space-between;
}

#playGame span > img {
  width: 15rem;
  filter: grayscale(100);
}

#playGame span:hover img {
  filter: grayscale(0);
  cursor: pointer;
  transition: 0.3s;
}

.userChoice img:hover {
  filter: invert(1);
  transition: 0.3s;
  cursor: pointer;
}

.pose span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playGame > div.score {
  justify-content: space-evenly;
  text-align: center;
}

.score div {
  width: 10rem;
}

#counter {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0%;
  height: 8rem;
  width: 18rem;
  background-color: #e9c93f;
  border-radius: 0 0 2rem 2rem;
}

#counter h2 {
  font-size: 2rem;
  margin-top: 2rem;
}
